.button {
  background: #ccc;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: $darkGrey;
  color: #ccc;
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  cursor: default;
  border-radius: 0.3rem;

  &:hover, &:focus {
    cursor: default;
    color: #ccc;
    background-color: lighten($darkGrey, 10%);
    @include transition(background-color 0.2s linear);
  }

  &:active {
    background-color: lighten($darkGrey, 15%);
    @include transition(background-color 0.2s linear);
  }

  &.button-primary {
    background: $linkColor;
    color: #fff;

    &:hover, &:focus {
      color: #fff;
      background-color: lighten($linkColor, 10%);
    }
    &:active {
      background-color: lighten($linkColor, 15%);
    }
  }

  &.button-secondary {
    background: darken($bodyBgColor, 5%);
    color: $bodyTextColor;

    &:hover, &:focus {
      background-color: darken($bodyBgColor, 15%);
    }
    &:active {
      background-color: darken($bodyBgColor, 10%);
    }
  }

  &.button-danger {
    background: darken($bodyBgColor, 5%);
    color: $darkRed;

    &:hover, &:focus {
      background-color: $darkRed;
      color: #fff;
    }
    &:active {
      background-color: $darkRed;
    }
  }
}
