$bodyBgColor: #f4f4f4;
$bodyTextColor: #232323;
$baseFontFamily: 'Helvetica Neue', sans-serif;
$linkColor: #259C66;
$linkColorHover: darken($linkColor, 5%);
$darkGrey: #232323;
$darkRed: #c52f2f;

$paddingHorizontal: 2rem;

@import "bourbon/bourbon";
@import "loading";
@import "buttons";
@import "jquery-ui-overrides";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -moz-outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;

  &:hover, &:active, &:focus {
    outline: none;
    -moz-outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
}

html, body {
  background: $bodyBgColor;
  font-family: $baseFontFamily;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: $bodyTextColor;
}

a {
  color: $linkColor;
}

a:hover {
  color: $linkColorHover;
}

body > .ember-view {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

nav {
  display: block;
}

aside {
  flex: 0 0 4rem;
  z-index: 23;
  background: $darkGrey;
  overflow: hidden;

  header {
    h1 {
      a {
        text-decoration: none;
        display: block;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        line-height: 1rem;
        text-align: center;
        border-bottom: 1px solid lighten($darkGrey, 5%);
        @include transition(all 0.1s linear);

        &:hover {
          background: lighten($darkGrey, 5%);
          color: $bodyBgColor;
          @include transition(all 0.1s linear);
        }

        img {
          border: none;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }

  nav {
    li {
      &#nav-search {
        display: none;
      }

      a {
        display: block;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition(all 0.1s linear);

        svg {
          flex: 1;
          width: 24px;
          height: 24px;
          margin-left: auto;
          margin-right: auto;

          path {
            fill: #888;
          }
        }

        &:hover {
          background: lighten($darkGrey, 5%);
          color: $bodyBgColor;
          @include transition(all 0.1s linear);
        }

        &.active {
          svg {
            path {
              fill: #ccc;
            }
          }
        }
      }
    }
  }
}

main {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

section#search {
  flex: 0 80px;
  background: #f4f4f4;
  width: 100%;
  z-index: 2342;

  .search-input {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    width: 50%;

    input[type=text] {
      width: 100%;
      padding: 1rem;
      line-height: 1rem;
      border: none;
      border-radius: 2px;
      font-size: 1rem;
      font-family: $baseFontFamily;
      background: #ebebeb;
      transition: background-color 0.1s linear;

      &:focus {
        background: #fff;
      }
    }

    button#clear-search {
      position: absolute;
      display: inline-block;
      height: 3rem;
      width: 3rem;
      top: 1rem;
      right: 2rem;
      padding: 0.75rem;
      border: none;
      background: transparent;

      &.hidden {
        display: none;
      }

      svg {
        path {
          fill: #888;
        }
      }

      &:hover {
        cursor: pointer;

        svg {
          path {
            fill: $bodyTextColor;
          }
        }
      }
    }
  }
}

#content {
  flex: 1;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

ul.bookmark-list {
  list-style: none;
  margin-bottom: 2rem;
}

li.bookmark {
  background: #fff;
  border-bottom: 1px solid #efefef;
  padding: 1rem 2rem;
  position: relative;

  h4 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 6px;
    padding-right: 2rem;
  }

  .meta {
    color: #888;
    font-size: 0.8rem;

    .tag {
      padding: 0 6px;
      background: #efefef;
      border-radius: 3px;
    }
  }

  .description {
    margin-top: 8px;
  }

  .actions {
    position: absolute;
    top: 1rem;
    right: 2rem;

    a {
      display: inline-block;
      padding: 3px;
      border: 1px solid #f4f4f4;
      border-radius: 0.25rem;
      background-color: #fff;
      // height: 22px;
      // width: 22px;

      svg {
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        margin: 0;

        path {
          fill: #888;
          transition: all 0.1s linear;
        }
      }

      &:hover {
        color: $linkColorHover;
        cursor: pointer;

        svg {
          path {
            fill: $linkColorHover;
            transition: all 0.1s linear;
          }

          &.icon-trash {
            path { fill: #b61f1f; }
          }
        }
      }
    }
  }
}

#bookmark-new, #bookmark-edit {
  header {
    background: #f4f4f4;
    padding: 1.5rem $paddingHorizontal;

    h2 {
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  form {
    display: block;
    width: 100%;
    max-width: 800px;
    padding: 2rem $paddingHorizontal;
    background: #fff;

    fieldset {
      border: none;
    }

    .control-group {
      display: block;
      position: relative;
      margin-bottom: 1.5rem;

      label {
        display: block;
        width: 7rem;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.5rem 0.5rem;
        font-size: 0.7rem;
        line-height: 1rem;
        color: #888;
        text-transform: uppercase;
        // background: #ccc;
      }

      input[type=text] {
        display: block;
        width: 100%;
        padding: 0.5rem 0.5rem 0.5rem 7rem;
        font-family: $baseFontFamily;
        font-size: 1rem;
        line-height: 1rem;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0.5rem;
        &:focus {
          border-color: $linkColor;
          @include transition(border-color 0.2s linear);
        }
      }
    }

    .controls {
      padding-top: 0.5rem;
    }
  }
}

section#bookmarklet {
  padding: 1.5rem $paddingHorizontal;

  h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  p.hint {
    margin-bottom: 1.5rem;
  }
}

// WELCOME

section#welcome {
  margin: 4rem;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1rem;
    line-height: 1.6em;

    &.hint {
      font-size: 1rem;
      color: #888;
    }
  }
}

// IMPORT

#import-delicious-html {
  display: none;
}

// REMOTESTORAGE WIDGET

#remotestorage-widget {
  position: fixed;
  top: 0;
  right: 0;
}

// Small screens

@media screen and (max-width : 420px) {
  $paddingHorizontal: 1rem;
  $navbarWidth: 3rem;

  body > .ember-view {
    flex-direction: column;
    // justify-content: flex-start;
    // align-items: stretch;
  }

  aside {
    flex: 0 $navbarWidth;
    display: flex;
    flex-direction: row;

    header {
      flex: 0 4rem;

      h1 {
        a {
          display: inline-block;
          padding: 8px;

          &:hover {
            background: transparent;
          }

          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }

    nav {
      flex: 1;

      ul {
        width: 100%;
      }

      li {
        float: right;

        &#nav-search {
          display: inline-block;
        }

        a {
          width: $navbarWidth;
          height: $navbarWidth;

          &:hover {
            background: transparent;
          }
        }
      }
    }
  }

  section#search {
    flex: 0 3rem;
    transition: margin-top 0.15s linear;

    .search-input {
      width: 100%;
      padding: 0;

      input[type=text] {
        background: #ebebeb;

        &:focus {
          background: #ebebeb;
        }
      }

      button#clear-search {
        top: 0;
        right: 0;
      }
    }

    &.hidden {
      margin-top: -$navbarWidth;
      transition: margin-top 0.15s linear;
    }
  }

  #content {
  }

  li.bookmark {
    padding: 1rem $paddingHorizontal;

    .actions {
      right: $paddingHorizontal;
    }
  }

  #bookmark-new, #bookmark-edit {
    header {
      padding: 1.5rem $paddingHorizontal;
    }

    form {
      padding: 2rem $paddingHorizontal;
    }
  }

  section#bookmarklet {
    padding: 1.5rem $paddingHorizontal;
  }

  section#welcome {
    margin: 2rem;

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  #remotestorage-widget {
    bottom: 0;
    top: auto;

    .rs-widget {
      margin: 0 !important;
      border-radius: 0;
    }
  }
}
