$bodyBgColor: #f4f4f4;
$bodyTextColor: #232323;
$baseFontFamily: 'Helvetica Neue', sans-serif;
$linkColor: #259C66;
$linkColorHover: darken($linkColor, 5%);
$darkGrey: #232323;

@import "bourbon/bourbon";
@import "iconfont";
@import "loading";
@import "jquery-ui-overrides";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-outline: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
*:hover, *:active, *:focus {
  -moz-outline: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
  background: $bodyBgColor;
  font-family: $baseFontFamily;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  color: $bodyTextColor;
}

a {
  color: $linkColor;
}

a:hover {
  color: $linkColorHover;
}

nav, main, aside {
  display: block;
}

aside {
  position: fixed;
  height: auto;
  width: 4rem;
  top: 0px;
  bottom: 0px;
  z-index: 23;
  background: $darkGrey;
  header {
    h1 {
      a {
        text-decoration: none;
        display: block;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        line-height: 1rem;
        text-align: center;
        border-bottom: 1px solid lighten($darkGrey, 5%);
        @include transition(all 0.1s linear);
        &:hover {
          background: lighten($darkGrey, 5%);
          color: $bodyBgColor;
          @include transition(all 0.1s linear);
        }
        img {
          border: none;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
  nav.main {
    li {
      a {
        display: block;
        padding: 1.5rem 0;
        text-decoration: none;
        color: #888;
        white-space: nowrap;
        overflow: hidden;
        font-weight: normal;
        i::before {
          display: inline-block;
          padding: 0 1rem;
          width: 2rem;
          height: 2rem;
          font-size: 2rem;
        }
        @include transition(all 0.1s linear);
        &:hover {
          background: lighten($darkGrey, 5%);
          color: $bodyBgColor;
          @include transition(all 0.1s linear);
        }
      }
    }
  }
}

main {
  padding-left: 4rem;
}

section#search {
  position: fixed;
  background: #f4f4f4;
  padding-left: 32px;
  padding-top: 16px;
  width: 100%;
  z-index: 2342;

  .search-input {
    position: relative;
    display: block;
    width: 50%;
  }

  input[type=text] {
    width: 100%;
    padding: 1rem 1rem;
    line-height: 1rem;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    font-family: $baseFontFamily;
    background: #ebebeb;
    transition: background-color 0.1s linear;

    &:focus {
      background: #fff;
    }
  }

}

ul.bookmark-list {
  list-style: none;
  margin-bottom: 2rem;
  padding-top: 80px;
}

li.bookmark {
  background: #fff;
  border-bottom: 1px solid #efefef;
  padding: 1rem 2rem;
  position: relative;
  h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .meta {
    color: #888;
    font-size: 0.8rem;
    .tag {
      padding: 0 6px;
      background: #efefef;
      border-radius: 3px;
    }
  }
  .description {
    margin-top: 8px;
  }
  .actions {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    a {
      padding: 0.25rem 0.5rem;
      color: #888;
      line-height: 1.4rem;
      text-decoration: none;
      border: 1px solid #f4f4f4;
      border-radius: 0.25rem;
      &:hover {
        color: $linkColorHover;
        cursor: pointer;
      }
    }
  }
}

#bookmark-new, #bookmark-edit {
  header {
    background: #f4f4f4;
    padding: 1.5rem 2rem;
    h2 {
      line-height: 2rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  form {
    display: block;
    background: #fff;
    padding: 2rem 2rem;
    fieldset {
      border: none;
    }
    .control-group {
      display: block;
      position: relative;
      margin-bottom: 1.5rem;
      label {
        display: block;
        width: 7rem;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0.3rem 0.5rem;
        font-size: 0.7rem;
        line-height: 1rem;
        color: #888;
        text-transform: uppercase;
        // background: #ccc;
      }
      input[type=text] {
        display: inline-block;
        width: 50%;
        padding: 0.3rem 0.5rem 0.3rem 7rem;
        font-family: $baseFontFamily;
        font-size: 1rem;
        line-height: 1rem;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0.5rem;
        &:focus {
          border-color: $linkColor;
          @include transition(border-color 0.2s linear);
        }
      }
    }
    .controls {
      padding-top: 0.5rem;
    }
  }
}

section#bookmarklet {
  padding: 1.5rem 2rem;
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  p.hint {
    margin-bottom: 1.5rem;
  }
}

.button {
  background: #ccc;
  padding: 0.5rem 1rem;
  border: none;
  background-color: $darkGrey;
  color: #ccc;
  font-size: 0.7rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  cursor: default;
  border-radius: 0.3rem;
  &:hover, &:focus {
    cursor: default;
    color: #ccc;
    background-color: lighten($darkGrey, 10%);
    @include transition(background-color 0.2s linear);
  }
  &.button-primary {
    background: $linkColor;
    color: #fff;
    &:hover, &:focus {
      color: #fff;
      background-color: lighten($linkColor, 10%);
    }
  }
  &.button-secondary {
    background: darken($bodyBgColor, 5%);
    color: $bodyTextColor;
    &:hover, &:focus {
      background-color: darken($bodyBgColor, 15%);
    }
  }
}

// WELCOME

section#welcome {
  margin: 4rem;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1rem;
    &.hint {
      font-size: 1rem;
      color: #888;
    }
  }
}

// IMPORT

#import-delicious-html {
  display: none;
}

// REMOTESTORAGE WIDGET

#remotestorage-widget {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000000;
}
