// $baseFontFamily: 'Fira Sans OT', sans-serif;
$baseFontFamily: 'Helvetica Neue', sans-serif;
$linkColor: #259C66;
$linkColorHover: darken($linkColor, 5%);

@import "compass";
@import "iconfont";

* {
  margin: 0;
  padding: 0;
  @include box-sizing('border-box');
}

html, body {
  background: #f4f4f4;
  font-family: $baseFontFamily;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

a {
  color: $linkColor;
}

a:hover {
  color: $linkColorHover;
}

nav, main, aside {
  display: block;
}

aside {
  position: fixed;
  height: auto;
  width: 10rem;
  top: 0px;
  bottom: 0px;
  z-index: 23;
  background: #232323;
  header {
    h1 {
      a {
        display: block;
        background: #333;
        padding: 1.5rem;
        line-height: 32px;
        font-size: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: #888;
      }
    }
  }
  nav.main {
    margin-top: 0.25rem;
    li {
      a {
        display: block;
        padding: 1rem 1.5rem;
        text-decoration: none;
        color: #888;
        &:hover {
          background: #333;
          color: $linkColorHover;
        }
      }
    }
  }
}

main {
  width: 100%;
  padding-left: 10rem;
}

section#search {
  position: fixed;
  background: #f4f4f4;
  padding: 24px 32px;
  width: 100%;
  input[type=text] {
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: $baseFontFamily;
    background: #fff;
    padding: 6px;
    width: 50%;
  }
}

ul.bookmark-list {
  list-style: none;
  margin-bottom: 2rem;
  padding-top: 80px;
}

li.bookmark {
  background: #fff;
  border-bottom: 1px solid #efefef;
  padding: 1rem 2rem;
  position: relative;
  h4 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .meta {
    color: #888;
    font-size: 0.8rem;
    .tag {
      padding: 0 6px;
      background: #efefef;
      @include border-radius(3px);
    }
  }
  .description {
    margin-top: 8px;
  }
  .actions {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    a {
      padding: 0.25rem 0.5rem;
      color: #888;
      line-height: 1.4rem;
      text-decoration: none;
      border: 1px solid #f4f4f4;
      @include border-radius(0.25rem);
      &:hover {
        color: $linkColorHover;
        cursor: pointer;
      }
    }
  }
}

// IMPORT

#import-delicious-html {
  display: none;
}

// REMOTESTORAGE WIDGET

#remotestorage-connect {
  top: 1rem;
  right: 1rem;
  position: fixed;
  z-index: 1000000;
}

#remotestorage-widget {
  top: 0 !important;
  right: 15px !important;
}
