<section id="bookmark-new">
  <header>
    <h2>Add a new bookmark</h2>
  </header>

  {{bookmark-form bookmark=model availableTags=availableTags
                  commit=(action "commit") cancel=(action "cancel") }}
</section>

{{#unless bookmarkletUsed}}
<section id="bookmarklet">
  <h3>Use the bookmarklet</h3>
  <p class="hint">Drag this to your bookmarks toolbar:</p>
  <p><a href={{bookmarkletLink}} class="button">Create Webmark</a></p>
</section>
{{/unless}}
