{{input id="search-input" value=filterText placeholder= (t "inputs.text_fields.search.placeholder") }}
<button {{action "clearSearchInput"}} id="clear-search" class={{if hideClearButton "hidden"}}>{{icon-x}}</button>
