{{input id="search-input"
        value=searchInput
        placeholder= (t "inputs.text_fields.search.placeholder")
        autocomplete="off"}}
<button {{action "clearSearchInput"}} id="clear-search" class={{if hideClearButton "hidden"}}>{{icon-clear}}</button>
