<div id="content">
  <section id="about">
    <NavAppInfo />
    <article>
      <div class="illustration-bookmarks">
        <img src="/assets/undraw_bookmarks.svg" alt="">
      </div>

      {{#if (eq currentLocale "de")}}
        <h3>Braucht Übersetzung</h3>
        <p>
          Der Inhalt dieser Seite ist noch nicht ins Deutsche übersetzt. Hilf
          uns auf <a href="https://github.com/skddc/webmarks/">GitHub</a>
        </p>
      {{/if}}

      {{#if (eq currentLocale "fr")}}
        <h3>Besoin de traduction</h3>
        <p>
          Tu peux nous aider à traduire ceci à
          <a href="https://github.com/skddc/webmarks/">GitHub</a>
        </p>
      {{/if}}

      <h3>About this app</h3>
      <p>
        Webmarks is a bookmarking app, focused on speed, privacy and ease of
        use. It allows you to create an archive of Web addresses (URLs),
        which you can tag and search, and which you can access from any of
        your devices.
      </p>

      <h3>Privacy & Choice</h3>
      <p>
        Webmark's functionality is similar to other bookmarking services you
        may know, like e.g. Delicious or Pinboard. However, contrary to those
        services, the developers of Webmarks don't know anything about you or
        your data.
      </p>
      <p>
        That's because Webmarks doesn't run on a server, but all of the app
        runs directly on your device. In order to sync your data across
        devices, as well as access or edit it from other apps, you can choose
        to connect your own storage account.
      </p>

      <h3>Open Source</h3>
      <p>
        Webmarks is provided free of charge, and
        <a href="https://github.com/skddc/webmarks">the source code</a>
        is released under an open-source license
        (<a href="ihttps://github.com/skddc/webmarks/blob/master/LICENSE">AGPL</a>).
        Most icons are part of the
        <a href="https://material.io/tools/icons/">Material Icons</a> set,
        published under the Apache 2.0 license.
      </p>
      <p>
        Contributions are welcome and encouraged! If you lack the time or
        skills to contribute code, design, or translations, please consider a
        donation.
      </p>
      <p>
        Bitcoin: <a href="bitcoin:35twuADX6NqaNxfeyujuoEqRGfwhAJx2ed">35twuADX6NqaNxfeyujuoEqRGfwhAJx2ed</a><br>
        Litecoin: <a href="litecoin:MLyGddJzQYLEFmaAgbjckhqXu6S13v64u3">MLyGddJzQYLEFmaAgbjckhqXu6S13v64u3</a>
      </p>

      <h3>Support</h3>
      <p>
        If you have any questions, or run into something that doesn't work,
        please
        <a href="https://github.com/skddc/webmarks/issues">open an issue</a>
        over on GitHub.
      </p>
    </article>
  </section>
</div>