<aside>
  <header>
    <h1>{{#link-to "index" class="pure-menu-heading"}}<img src="/img/icon-128.png" alt="Webmarks">{{/link-to}}</h1>
  </header>
  <nav>
    <ul>
      <li>{{#link-to "archive.new" title=(t "links.add_new")}}{{icon-add}}{{/link-to}}</li>
    </ul>
  </nav>
</aside>
<main>
  {{outlet}}
</main>
