<div class="container">
  <aside>
    <header>
      <h1>{{#link-to "index" class="pure-menu-heading"}}Webmarks{{/link-to}}</h1>
    </header>
    <nav class="main">
      <ul>
        <li>{{#link-to "bookmarks.new"}}<i class="icon-plus"></i> Add new{{/link-to}}</li>
      </ul>
    </nav>
  </aside>
  <main>
  {{outlet}}
  </main>
</div>
