<div class="container pure-g-r">
  <div class="header pure-u-1">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
        {{#link-to "index" class="pure-menu-heading"}}webmarks{{/link-to}}
        <ul>
          <li>{{link-to "Add" "bookmarks.new"}}</li>
          <li>{{link-to "Import" "import"}}</li>
        </ul>
    </div>
  </div>
  <div id="content" class="pure-u-1">
  {{outlet}}
  <div>
</div>
