<div class="import-container">
  <h3>Import from Delicious</h3>
  <p>You can import all your bookmarks from Delicious.com including tags and descriptions in 2 simple steps:</p>
  {{#if isImporting}}
  <p>Importing...</p>
  {{else}}
  <p>{{view App.ImportFileView name="delicious" contentBinding="content"}}</p>
  {{/if}}
</div>
<div id="import-delicious-html"></div>
