<div id="content">
  <section id="privacy-policy">
    <NavAppInfo />
    <article>
      {{#if (eq currentLocale "en")}}
        <h3>1. Introduction</h3>
        <p>
          The information on this page refers to the version of Webmarks that
          is available on
          <a href="https://webmarks.5apps.com">webmarks.5apps.com</a>.
          The open-source developers of this app cannot guarantee that other
          versions of this app behave exactly the same way.
        </p>
        <p>
          <a href="https://webmarks.5apps.com">webmarks.5apps.com</a>
          is provided free of charge by
          <a href="https://sebastian.kip.pe">Sebastian Kippe</a>,
          also referred to in this document as “we”, “us”, or “our”.
        </p>

        <h3>2. Information we collect</h3>
        <p>
          In short: absolutely nothing.
        </p>
        <p>
          As the app is run entirely on your device, and you connect your own
          storage account at runtime, we never touch or see any data you access
          and store via this app. We also do not collect or store any other
          personal data from you.
        </p>

        <h3>3. Information your storage provider collects</h3>
        <p>
          Please refer to the privacy policy of your storage provider, in order
          to find out what data they collect and how they protect it (in case
          you are not managing your own storage account).
        </p>
      {{/if}}

      {{#if (eq currentLocale "de")}}
        <h3>1. Einleitung</h3>
        <p>
          Die Informationen auf dieser Seite beziehen sich auf die
          Webmarks-Version, welche unter
          <a href="https://webmarks.5apps.com">webmarks.5apps.com</a>
          verfügbar ist. Die Open-Source-Entwickler dieser App können nicht
          garantieren, dass andere Versionen dieser App genau gleich
          funktionieren.
        </p>
        <p>
          <a href="https://webmarks.5apps.com">webmarks.5apps.com</a>
          wird kostenlos zur Nutzung bereitgestellt von
          <a href="https://sebastian.kip.pe">Sebastian Kippe</a>,
          auf dieser Seite auch “wir” und “uns” genannt.
        </p>

        <h3>2. Welche Informationen wir speichern</h3>
        <p>
          Kurzum: absolut gar keine.
        </p>
        <p>
          Da diese App vollständig auf deinem Gerät läuft, und du deinen
          eigenen Datenspeicher vebindest, haben wir zu keinem Zeitpunkt
          Kontakt oder Zugriff zu deinen Daten. Davon abgesehen sammeln oder
          speichern wir auch keinerlei andere personenbezogene Daten.
        </p>

        <h3>3. Welche Informationen dein Datenspeicher sammelt</h3>
        <p>
          Bitte informiere dich in der Datenschutzerklärung deines
          Datenspeicher-Anbieters über deren Praktiken, und wie deine Daten
          dort behandelt und gespeichert werden (sofern du den Speicher nicht
          selbst verwaltest).
        </p>
      {{/if}}

      {{#if (eq currentLocale "fr")}}
        <h3>Besoin de traduction</h3>
        <p>Tu peux nous aider à traduire ceci à <a href="https://github.com/skddc/webmarks/">GitHub</a></p>

        <h3>1. Introduction</h3>
        <p>
          The information on this page refers to the version of Webmarks that
          is available on
          <a href="https://webmarks.5apps.com">webmarks.5apps.com</a>.
          The open-source developers of this app cannot guarantee that other
          versions of this app behave exactly the same way.
        </p>
        <p>
          <a href="https://webmarks.5apps.com">webmarks.5apps.com</a>
          is provided free of charge by
          <a href="https://sebastian.kip.pe">Sebastian Kippe</a>,
          also referred to in this document as “we”, “us”, or “our”.
        </p>

        <h3>2. Information we collect</h3>
        <p>
          In short: absolutely nothing.
        </p>
        <p>
          As the app is run entirely on your device, and you connect your own
          storage account at runtime, we never touch or see any data you access
          and store via this app. We also do not collect or store any other
          personal data from you.
        </p>

        <h3>3. Information your storage provider collects</h3>
        <p>
          Please refer to the privacy policy of your storage provider, in order
          to find out what data they collect and how they protect it (in case
          you are not managing your own storage account).
        </p>
      {{/if}}
    </article>
  </section>
</div>
