<div class="welcome">
  <p>Welcome to the beta version of Webmarks!</p>
  <p>
    Please connect your remote storage first. (This will not be necessary in
    the final version of this app.)
  </p>
</div>
