<section id=welcome>
  <h2>Welcome to the beta version of Webmarks!</h2>
  <p>
    Please connect your remote storage first.
  </p>
  <p class=hint>
   (This will not be necessary in the upcoming release version of Webmarks.)
  </p>
</section>
