<div id="content">
  {{#if showConfirmation}}
    {{bookmark-saved}}
  {{else}}
    <section id="bookmark-edit">
      <header>
        <h2>{{t "bookmark.edit.header"}}</h2>
      </header>

      {{bookmark-form bookmark=model
                      availableTags=availableTags
                      commit=(action "commit")
                      cancel=(action "cancel")
                      remove=(action "remove") }}
    </section>
  {{/if}}
</div>
